body {
    font-family: @sans-serif;
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
}

p {
    font-size: 18px;
    line-height: 1.7em;
}

h1 {
    font-size: @titlefont;
}

h2 {
    font-size: @subtitlefont;
}

h3 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
