.siteBody {
    color:@dark-gray; 	
}

.container {
    max-width: @pagewidth;
    margin: 0 auto;
    padding: 200px 0 80px 0;
}

// sections
.sectionheader {
    text-align: center;
    padding: 50px 0;
    font-weight: normal;

}
