@import 'flex'

bar-height = 60px

.app-nav-bar
	position fixed
	bottom 0px
	width 100%
	height bar-height
	background-color pgray
	flex()
	flex-direction(row)
	justify-content(space-around)
	align(center)

.settings-button
	height bar-height
	width 100%
	
.new-photo-button
	height bar-height
	background-color ppurple
	width 100%
	
.photos-button
	height bar-height
	width 100%

.center-button
	center-flex()
	color pwhite
	font-size 24px
	