flex()
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex

align(n)
	-webkit-box-align n 
	-moz-box-align n
	-ms-flex-align n
	-webkit-align-items n
	align-items n
	
justify-content(a)
	-webkit-box-pack a
	-moz-box-pack a
	-ms-flex-pack a
	-webkit-justify-content a
	justify-content a
	
flex-direction(b)
	-webkit-flex-direction b
	-moz-flex-direction b
	-ms-flex-direction b
	flex-direction b
	
center-flex()
	flex()
	align(center)
	justify-content(center)