@import 'flex'

.status-bar
	width 100%
	height 20px
	background-color ppurple
	position fixed
	top 0px

.top-bar
	flex()
	align(center)
	justify-content(center)
	width 100%
	height 60px
	background-color ppurple
	margin-top 20px
	
.top-bar-header
	color pwhite
	font-family app-header-font
	font-size app-header-size
