<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='css/reset.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet/less" type="text/css" href="css/styles.less" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.1/less.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="js/testimonials.js"></script>

</head>
<body class="siteBody">
<section class="hero">
    <div class="container">
        <i class="logo">I a logo</i>
        <h1>Phetch.</h1>
        <h2>Snap. Erase. Replace. Share.</h2>
        <div class="landing-phones"></div>
    </div>
</section>
<section class="howitworks"> 
    <div class="container">
        <h2 class="sectionheader">Phetch in 3 easy steps</h2>
        <div class="steps">
            <div class="step step-1">
                <div class="content">
                    <i class="number">1</i>
                    <h3>Send a Phetch</h3>
                    <p>Snap a photo! Erase a part of of it (Say a face, a butt, whatever). Choose a friend to send it to!</p>
                </div>
                <div class="photo"></div>
            </div>

            <div class="step step-2">
                <div class="content">
                    <i class="number">2</i>
                    <h3>Get a Phetch</h3>
                    <p>Receive a photo from a friend with a part missing. Fill it in with a photo of your own (A selfie, your dog, something shiny). Share it with the world!
                </div>
                <div class="photo"></div>
            </div>
            <div class="step step-3">
                <div class="content">
                    <i class="number">3</i>
                    <h3>Hilarity ensues</h3>
                    <p>Scroll through your friends’ photos. Some will be awesome, some will be weird. One might even be heartbreaking. Like the ones that tickle you.
                </div>
                <div class="photo"></div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="testimonial-carousel"><!-- populated from javascript --></div>
    </div>
</section>
<section class="signup">
    <h3 class="sectionheader">Sign up for Phetch today!</h3>
    Phetch is coming soon! Add your email or something, homey. We don’t give a care.
    <input class="emailinput" type="text" placeholder="Enter your email"/><input type="submit" class="emailbutton" value="Give me Phetch" />
</section>
<footer>Made with ♥ in NYC. (stop trying to make phetch happen).</footer>
<script type="text/template" class="testimonial">
<div class="testimonial">
    <div class="quote">
        <p>"<%= quote %>"</p>
        <div class="author">
            <img class="profile-image" src="<%= author.image %>">
            <span>&mdash; <%= author.name %></span>
        </div>
    </div>
</div>
</script>
</body>
</html>
