.howitworks{
    width: 100%;

    .sectionheader {
        background: @purple;
        color: white;
    }

    .container {
        padding-top: 80px;
    }

    .steps{
        display:flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
    }

    .step{
        .clearfix();
        position: relative;
        width: 100%;
        min-height: 500px;
        margin-bottom: 40px;
        padding: 0 60px;

        h3 {
            color: @purple;
        }

        .content {
            float: left;
            padding-top: 160px;
        }
        .photo {
            float: right;
        }

        i.number {
            @size: 40px;

            border-radius: 50%;
            font-size: 30px;
            width: @size;
            height: @size;
            position: relative;
            line-height: @size;
            text-align: center;
            display: block;
            float: left;
            background: @purple;
            color: white;
            margin-right: 20px;
            font-weight: 600;
        }
        p {
            max-width: 400px;
            font-size: 24px;
        }

        .photo {
            /*@orig-width: 3125px;*/
            /*@orig-height: 5558px;*/
            @target-width: 280px;
            /*@target-height: @orig-height / @orig-width * @target-width;*/
            @target-height: 574px;

            width: @target-width;
            height: @target-height;
            background-size: @target-width @target-height;
        }

        &.step-1 {
            .photo {
                background-image: url(../images/steps/step1.png);
            }
        }

        &.step-2 {
            .content {
                float: right;
            }
            .photo {
                float: left;
                background-image: url(../images/steps/step2.png);
            }
        }

        &.step-3 {
            .photo {
                background-image: url(../images/steps/step3.png);
            }
        }
    }

    .downwards {
        @size: 50px;
        height: @size;
        width: @size;
        display: inline-block;
        margin-left: 10px;
        border-radius: 50%;
        border: 2px solid white;
        width: @size;
        font-size: 40px;
        line-height: @size;
        cursor: pointer;

        .transition(0.2s);

        &:hover {
            background: rgba(255,255,255,0.2);
        }
        
        span {
            display: block;
            .transform(rotate(90deg));
            padding-bottom: 5px;
        }

    }

}
