.signup {
    background: white;

    .container {
        padding-top: 60px;
        padding-bottom: 160px;
    }

    .sectionheader {
        padding-bottom: 40px;
    }

    p {
        font-size: 24px;
        margin-bottom: 20px;
    }

    input {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 20px;
        font-size: 24px;
    }

    input[type=submit] {
        float: right;
        -webkit-appearance: none;
        width: 30%;
        background: @purple;
        border: none;
        font-size: 24px;
        padding: 6px 10px;
        color: white;
    }
}

.mc-field-group {
    display: inline-block;
    width: 65%;

    div {
        margin: 0 10px;
    }

    input {
        width: 100%;
        margin-left: -10px;
    }
}

#mce-responses, div.mce_inline_error {
    margin-top: 10px;
    display: block;
}

#mce-error-response, div.mce_inline_error {
    color: red;
}

#mce-success-response {
    color: green;
}
